[Unit]
Description=Benny's Server
After=network-online.target
Wants=network-online.target

[Service]
User=james
WorkingDirectory=/home/james/benny-care-system
EnvironmentFile=/home/james/benny-care-system/.env
ExecStart=/home/james/benny-care-system/.venv/bin/python /home/james/benny-care-system/src/bennycaresystem/drivers.minimal_servo_bot.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
